.form__input {
	border: 1px solid var(--c-tertiary);
	font-size: 1rem;
	max-width: 240px;
	padding: .75rem;
}

.form__label {
	color: var(--c-secondary);
	cursor: pointer;
	display: block;
}

.form__button {
	background: var(--c-branding);
	border: 1px solid var(--c-branding);
	color: var(--c-base);
	cursor: pointer;
	padding: .75rem;
}
